.button {
    background: var(--clr-blue-5);
    color: var(--clr-white);
    border: none;
    border-radius: var(--radius);
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    letter-spacing: var(--spacing);
    cursor: pointer;
    transition: var(--transition);
}

.button:hover {
    background: var(--clr-blue-4);
}

.button:active {
    transform: translateY(1px);
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}